[submodule "packages/hpp"]
	path = packages/hpp
	url = https://github.com/dimaslanjaka/hexo-post-parser
	branch = pre-release
[submodule "packages/hr"]
	path = packages/hr
	url = https://github.com/dimaslanjaka/hexo-renderers.git
	branch = pre-release
[submodule "packages/hs"]
	path = packages/hs
	url = https://github.com/dimaslanjaka/hexo-shortcodes
	branch = pre-release
