# malfunction keyboard
# 5 6 ^ %

/node_modules
!/page-source/node_modules/.gitignore
/build
/page
tmp
config.json
*.log
.env
/dist

# ignore yarn files except patterns
**/.yarn/*
!**/.yarn/releases
!**/.yarn/plugins

# ignore lock files
yarn.lock
package-lock.json

# ignore auto generated paths
source/_posts
/routes.json
/_config.json
/src/posts
/src/pages
.cache
# /release
/images
/public/release
.deploy_git