.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  // font-size: 16px;
  line-height: 1;
  word-wrap: break-word;

  // max-width: 1012px;
  // margin-right: auto;
  // margin-left: auto;

  * {
    box-sizing: border-box;
    line-height: 1;
  }

  blockquote {
    &:after {
      content: ' ';
    }
    &:before {
      content: ' ';
      background-image: none;
    }

    quotes: none;
  }

  p {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
  }

  // table {
  //   display: block;
  //   width: 100%;
  //   width: max-content;
  //   max-width: 100%;
  //   overflow: auto;
  //   border-spacing: 0;
  //   border-collapse: collapse;
  // }
  // table img {
  //   background-color: transparent;
  // }
  // table th,
  // table td {
  //   padding: 6px 13px;
  //   border: 1px solid var(--borderColor-default, var(--color-border-default));
  // }

  // img {
  //   max-width: 100%;
  //   height: auto;
  //   width: auto\\9; /* ie8 */
  //   box-sizing: content-box;
  // }
}
